
body {
    font-size: 16px;
    min-width: 320px;
    line-height: 1.75;
    overflow-x: hidden;
    opacity: 1;
    padding: 0;
    margin: 0;
}
.logo2{
    padding-left: 520px;
    width:400px;
}
.calc {
    background: #81D367;
    padding: 30px 15px;
    border-radius: 10px;
    float: left;
    margin: -300px 0px 0px 450px;
    position: absolute;
}
.calc td {
    padding: 6px;
}
.calc-display {
    font: 55px 'digital7_mono', sans-serif;
    width: 350px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background: #363636;
    color: #fff;
    margin-bottom: 35px;
    text-align: right;
}
.btn {
    font: 25px 'Orbitron', sans-serif;
    width: 85px;
    height: 50px;
    text-transform: uppercase;
    background: #fcfcfc;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    color: #666;
    padding: 0;
    outline: 0;
}
.btn-equal {
    height: 112px;
}
.btn-null {
    width: 185px;
}
.btn:hover {
    color: #fcfcfc;
    background: #788DE2;
    border-color: #788DE2;
}
.h1 {
    font: 60px 'Gabriela', sans-serif;
    color: #000;
    margin: -400px 0px 0px 440px;
    position: absolute;
}

